@import '../../color-palette.scss';

button{
  background: $color1 !important;
  z-index: 2000;
  color: white !important;
  position: fixed;
  right: 20px;
  top: 10px;
  font-size: 1.1em;
  box-shadow: 0.5, 0.5, 0.5, 0.5, white !important;
}
