@import '../../color-palette.scss';

button{
  background: $color1 !important;
  color: white !important;
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 1.1em;
  box-shadow: 0.5, 0.5, 0.5, 0.5, white !important;
}
