.clear-glass {
  position: absolute;
  z-index: 100;
  width: 370px;
  height: 370px;
  top: 55px;
  left: 80px;
  opacity: 0.3;
}

#infoModal_ageGroup {
  position: absolute;
  left: 500px;
  top: 180px;
  z-index: 100;
  visibility: hidden;
  padding: 10px;
  padding-left: 20px;
  min-width: 300px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.829);
  color: white;
  .small {
    font-size: 0.8em;
  }
}
::ng-deep {
  #radarChart .legend {
    font-weight: bold;
    font-size: 13px;
    cursor: help;
    &:hover {
      font-size: 1.1em;
      fill: rgb(255, 166, 0);
    }
  }
}
