<!--The content below is only a placeholder and can be replaced.-->
<div class="container d-lg-none d-block">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <img class="logo img-fluid img-thumbnail mt-5 mb-3" src="../../assets/images/logo.png" />
    </div>
    <div class="col-auto">
      <div>
        <p class="screen-message">Kindly view on a larger screen.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid d-lg-block d-none">
  <div class="row">
    <div class="col-5 sect-1">
      <app-canadamap></app-canadamap>
    </div>
    <div class="col-7 sect-2">
      <div class="container py-3">
        <div class="row d-flex flex-row">
          <div
            style="color:lightgray"
            class="col align-items-center justify-content-end d-flex"
          >
            <span>Hover Me</span>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="col-auto align-self-end">
            <app-genderratio></app-genderratio>
          </div>
        </div>
        <div class="row d-flex flex-column">
          <div class="col-auto align-self-start">
            <app-radarchart></app-radarchart>
          </div>
        </div>
        <div class="row d-flex flex-column">
          <div class="col p-0">
            <app-stacked-horiz-bar-chart>ß</app-stacked-horiz-bar-chart>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col p-0">
            <app-barchart></app-barchart>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-controlpanel></app-controlpanel>
  <app-fab></app-fab>
</div>

<div id="canadaMap_toolTip">
  <span class="name">Province</span>
  <br />
  <span class="small">Population: <span class="population">263,343</span></span>
  <h3 class="percentage color2">27.08%</h3>
  <span class="small" style="color:grey">click to toggle filter</span>
</div>
