<div id="stackedHorizChart">
  <div id="infoModal_qoqPopulation">
    <span class="year">Year</span>
    <br />
    <span class="small"><span class="legend" style="background-color: #001447;"> Q1 </span> <span> population: </span> <span class="q1">263,343</span></span>
    <br />
    <span class="small"><span class="legend" style="background-color: #6a1b9a;"> Q2 </span> <span> population: </span> <span class="q2">263,343</span></span>
    <br />
    <span class="small"><span class="legend" style="background-color: #ff5e00;"> Q3 </span> <span> population: </span> <span class="q3">263,343</span></span>
    <br />
    <span class="small"><span class="legend" style="background-color: #c81400;"> Q4 </span> <span> population: </span> <span class="q4">263,343</span></span>
    <br />
    <span class="small"
      >Total Population: <span class="population">263,343</span></span
    >
    <h3 class="color2"><span class="percentage"></span> of visualised data</h3>
  </div>
</div>
